mixin icon(name, className, modifier)
    - var classNames = className;
        if modifier
            - classNames += ` ${className}--${modifier}`
    svg(class=`${classNames}`)
        use(xlink:href=`./img/sprite.svg#${name}`)

mixin socials(items, addClass)
    - var classNames = "socials";
    if addClass
        if addClass.modifier
            - classNames += ` ${classNames}--${addClass.modifier}`
        if addClass.mixClass
            - classNames += ` ${addClass.mixClass}`
    div(class= classNames)
        ul.socials__items
            - for (var i = 0; i < items.length; i++)
                li.socials__item
                    a.socials__link(href=`${items[i].link}` target="_blank")
                        +icon(items[i].name, "socials__image", items[i].name)

mixin menu(items, className, settings)
    - var max, rootClass = className
    if settings
        if settings.itemsCount
            - max = settings.itemsCount
        else
            - max = items.length
        if settings.mixClass
            - rootClass += ` ${settings.mixClass}`
    nav(class=rootClass)
        ul(class=`${className}__items`)
            - for (var i = 0; i < max; i++)
                li(class=`${className}__item`)
                    a(class=`${className}__link` href=`${items[i].page}`) #{items[i].name}

mixin developer-photo(addClass)
    - var classNames = "developer-photo";
        if addClass
            if addClass.modifier
                - classNames += ` ${classNames}--${addClass.modifier}`
            if addClass.mixClass
                - classNames += ` ${addClass.mixClass}`
    div(class= classNames)
        img.developer-photo__image(src="./img/userpics/avatar.jpg" alt="Моё фото")

mixin developer-info(addClass)
    - var classNames = "developer-info";
    if addClass
        if addClass.modifier
            - classNames += ` ${classNames}--${addClass.modifier}`
        if addClass.mixClass
            - classNames += ` ${addClass.mixClass}`
    div(class= classNames)
        +developer-photo({mixClass: "developer-info__photo-wrapper"})
        .developer-info__text
            b.developer-info__name Хайс Дмитрий
            span.developer-info__descriptin Личный сайт веб разработчика

mixin feedbacks(items)
    - for (var i = 0; i < items.length; i++)
        li.feedback
            p.feedback__text= items[i].text
            .feedback__autor-card
                .feedback__photo-wrapper
                    img.feedback__photo(src=`./img/userpics/${items[i].photo}`)
                .feedback__info
                    b.feedback__name= items[i].name
                    span.feedback__position= items[i].position

mixin contacts(items, addClass)
    - var classNames = "contacts";
    if addClass
        if addClass.modifier
            - classNames += ` ${classNames}--${addClass.modifier}`
        if addClass.mixClass
            - classNames += ` ${addClass.mixClass}`
    ul(class=classNames)
        each item, itemName in items
            li(class = `contacts__item contacts__item--${itemName}`)= item

mixin skills(skills)
    - var category
    ul.skills
        each category in skills
            li.skills__category
                h3.skills__category-title= category.categoryName
                ul.skills__items
                    each item in category.skillItems
                        li.skills__item(data-percent= item.percent)
                            svg.skills__image(viewBox="0 0 110 110")
                                circle.skills__image-bg(r="45" cx="50%" cy="50%" fill="none")
                                circle.skills__image-level(r="45" cx="50%" cy="50%" transform="rotate(-90 55 55)")
                            span.skills__label= item.name

mixin footer(modifier)
    - var classNames = "page-footer";
        if modifier
            - classNames += ` ${classNames}--${modifier}`
    footer(class=classNames)
        .page-footer__column.page-footer__column--description
            span.page-footer__description Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
            span.page-footer__autor © Хайс Дмитрий
            span.page-footer__loweloft Создано с любовью в LoftSchool | 2018
        .page-footer__column.page-footer__column--links
            +menu(menuItems, "footer-nav", {mixClass: "page-footer__nav"})
            +socials(socialItems)
        .page-footer__column.page-footer__column--contacts
            +contacts(contacts)

mixin page-header(modifier)
    - var classNames = "page-header";
        if modifier
            - classNames += ` ${classNames}--${modifier}`
    header(class=classNames)
        include ../blocks/header-header
        +developer-info({modifier: "header", mixClass: "page-header__developer-info"})
        a.page-header__arrow-down(href="#")
            +icon("arrow_down", "navigate-arrow")

mixin fullscreen-menu(menuItems, currentPage)
    .main-container__overlay
        a.close-cross.main-container__overlay-close(href="#")
    nav.fullscreen-menu.main-container__fullscreen-menu
        ul.fullscreen-menu__items
            - for (var i = 0; i < menuItems.length; i++)
                li.fullscreen-menu__item
                    if menuItems[i].page == currentPage
                        a.fullscreen-menu__link.common-title.common-title--light.common-title--no-opacity= menuItems[i].name
                    else
                        a.fullscreen-menu__link.common-title.common-title--light.common-title--no-rounds(href=menuItems[i].page)= menuItems[i].name

mixin tabs(tabs, active)
    ul.tabs
        - for (var i = 0; i < tabs.length; i++)
            li.tabs__item
                if i == active
                    a.tabs__link.tabs__link--active(href= tabs[i].link)= tabs[i].name
                else
                    a.tabs__link(href= tabs[i].link)= tabs[i].name

mixin skills-admin(skills)
    ul.skills
        each category in skills
            li.skills__category
                h3.skills__category-title= category.categoryName
                table.skills__items
                    each item in category.skillItems
                        tr.skills__row
                            td
                                label(for=item.name).skills__name= item.name
                            td
                                input.skills__input(type="number" min="0" max="100" id=item.name name=item.name value= item.percent)
                            td.skills__percent %

mixin slides(slides)
    - for (var i = 0; i < slides.length; i++)
        li.works-slider__item(data-name= slides[i].name data-teck= slides[i].teck data-link= slides[i].link)
            img.works-slider__image.works-slider__image--small(src= slides[i].img)

mixin blogContents(blogposts, className, activeClass)
    - var len = blogposts.length;
    - var active = className + " " + activeClass
    a(href="#" class= active)= blogposts[0].name
    - for (var i = 1; i < len; i++)
        a(href="#" class= className)= blogposts[i].name

mixin blog(blogposts)
    ul.blog__articles-items
        - for (var i = 0; i < blogposts.length; i++)
            li.blog__article
                h3.blog__title= blogposts[i].name
                span.blog__date= blogposts[i].date
                .blog__article-content!= blogposts[i].post