mixin icon(name, className, modifier)
    - var classNames = className;
        if modifier
            - classNames += ` ${className}--${modifier}`
    svg(class=`${classNames}`)
        use(xlink:href=`./img/sprite.svg#${name}`)

mixin socials(items, modifier)
    - var classNames = "socials";
    if modifier
        - classNames += ` socials--${modifier}`
    ul(class=`${classNames}`)
        - for (var i = 0; i < items.length; i++)
            li.socials__item
                a.socials__link(href=`${items[i].link}` target="_blank")
                    +icon(items[i].name, "socials__image", items[i].name)

mixin menu(items)
    nav.main-nav
        ul.main-nav__items
            - for (var i = 0; i < items.length; i++)
                li.main-nav__item
                    a.main-nav__link(href=`${items[i].page}.html`) #{items[i].name}

mixin developer-info(modifier)
    - var classNames = "developer-info";
        if modifier
            - classNames += ` developer-info--${modifier}`
    div(class=`${classNames}`)
        .developer-info__photo-wrapper
            include ../blocks/developer-photo
        .developer-info__text
            b.developer-info__name Хайс Дмитрий
            span.developer-info__descriptin Личный сайт веб разработчика

mixin feedbacks(items)
    - for (var i = 0; i < items.length; i++)
        li.feedback
            p.feedback__text= items[i].text
            .feedback__autor-card
                .feedback__photo-wrapper
                    img.feedback__photo(src=`./img/userpics/${items[i].photo}`)
                .feedback__info
                    b.feedback__name= items[i].name
                    span.feedback__position= items[i].position